<h2>Hi, What is your name?</h2>
<form id="welcome_form" form action='/welcome' method='post'>
  <input type='text' name="name"/>
  <br>
  <input type="submit" class="btn btn-primary"/>
  <class='welcome_form'/>
</form>