<style>
h2
{
position:absolute;
left:536px;
top:188px;
}
h1
{
position:absolute;
left:485px;
top:50px;
}

</style>
<h1>Welcome to</h1>
<img src='/images/cards/bjsym.png' 'div id="bj_logo">

<table style="width:400px">
<tr>
<td><h2>What is your name?</h2>
<form id="welcome_form" form action='/welcome' method='post'>
  <input type='text' name="name"/>
  <br>
  <input type="submit" class="btn btn-primary"/>
  <class='welcome_form'/></td>
</form>
</tr>
</table>


  