form#hit_form {
  float: left;
  margin-right: 10px;
}

form#stay_form {
  float: left;
}

img.card_image {
  margin: 0px 7px 7px 0px;
}

form#welcome_form {
  color: red;
  background-color: #00FFFF;
  margin: 0px 0px 0px 0px;
  border-style: solid;
  border-color: #000000;
  text-align: center;
  border-width: 1px;
  position:absolute;
  left: 579px;
  top: 250px
} 

  .well {
    color: #FFFFFF;
    background-color: #FF5C33;
  }

  #player_cards {
    background-color: #29A329;

  }

#bj_logo {
position:absolute;
left:710px;
top:60px;
}